// =====================
// Yelp Widget
// =====================

.Header__WidgetTitle-sc-17gc7x6-2 {
    font-family: $main-font;
    font-size: 28px!important;
    font-weight: 700;
    color: $theme-primary!important;
}

div.CommonLayout__Inner-d1flxf-1 {
    a.Classic__Heading-sc-19u56uy-3 {
        visibility: visible!important;
    }
    a {
        visibility: hidden!important;
    }
}