// =====================
// Button Defaults
// =====================

.btn {
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 600;
    @include font-size(18px);
    @include padding(12px,30px,12px,30px);
    border: 0px solid #fff;
    border-radius: 0px;
    @include m('primary') {
      color: white;
      background-color: $theme-primary;
      &:hover {
        background-color: $theme-secondary;
      }
    }
    @include m('secondary') {
      color: white;
      background-color: $theme-secondary;
      &:hover {
        background-color: $theme-primary;
      }
    }
    @include m('success') {
      color: white;
      background-color: $theme-success;
      &:hover {
        background-color: darken($theme-success, 10%);
      }
    }
    @include m('danger') {
      color: white;
      background-color: $theme-danger;
      &:hover {
        background-color: darken($theme-danger, 10%);
      }
    }
    @include m('warning') {
      color: white;
      background-color: $theme-warning;
      &:hover {
        color: white;
        background-color: darken($theme-warning, 10%);
      }
    }
    @include m('info') {
      color: white;
      background-color: $theme-info;
      &:hover {
        background-color: darken($theme-info, 10%);
      }
    }
    @include m('light') {
      color: $theme-dark;
      background-color: $theme-light;
      &:hover {
        background-color: darken($theme-light, 30%);
      }
    }
    @include m('dark') {
      color: white;
      background-color: $theme-dark;
      &:hover {
        background-color: lighten($theme-dark, 30%);
      }
    }
    @include e('group') {
      a {
        @include first(1) {
          @include margin(null,25px,null,null);
        }
      }
    }
};